/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

* {
  user-select: none;
  -webkit-user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  -webkit-touch-callout: none;
}

body {
  overscroll-behavior-y: contain;
}
